
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 300px;
  color: white;
  background-color: #000;
  background-blend-mode: overlay;
}

.hero-heading {
  flex: 1;
}

.hero-heading h1 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-xxl);
  color: white;
  margin: 0;
}

.hero img {
  max-width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
}
